run = "npm install && npm start"
entrypoint = "server/src/index.js"
modules = ["nodejs-20", "web"]

[env]
NODE_ENV = "production"

[[ports]]
localPort = 3001
externalPort = 80

[nix]
channel = "stable-25_05"
